@page "/resources/delete"
@using Microsoft.EntityFrameworkCore
@using BuildMasterPro.Data
@inject IDbContextFactory<BuildMasterPro.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Resource</h2>
    <hr />
    @if (resource is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@resource.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@resource.Description</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@resource.Type</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@resource.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Quantity</dt>
            <dd class="col-sm-10">@resource.Quantity</dd>
        </dl>
        <EditForm method="post" Model="resource" OnValidSubmit="DeleteResource" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(resource is null)">Delete</button> |
            <a href="/resources">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Resource? resource;

    [SupplyParameterFromQuery]
    private int ResourceId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        resource = await context.Resource.FirstOrDefaultAsync(m => m.ResourceId == ResourceId);

        if (resource is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteResource()
    {
        using var context = DbFactory.CreateDbContext();
        context.Resource.Remove(resource!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/resources");
    }
}
