@page "/resources/details"
@using Microsoft.EntityFrameworkCore
@using BuildMasterPro.Data
@inject IDbContextFactory<BuildMasterPro.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Resource</h2>
    <hr />
    @if (resource is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@resource.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@resource.Description</dd>
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@resource.Type</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@resource.Status</dd>
            <dt class="col-sm-2">Quantity</dt>
            <dd class="col-sm-10">@resource.Quantity</dd>
        </dl>
        <div>
            <a href="@($"/resources/edit?resourceid={resource.ResourceId}")">Edit</a> |
            <a href="@($"/resources")">Back to List</a>
        </div>
    }
</div>

@code {
    private Resource? resource;

    [SupplyParameterFromQuery]
    private int ResourceId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        resource = await context.Resource.FirstOrDefaultAsync(m => m.ResourceId == ResourceId);

        if (resource is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
