@page "/equipment"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BuildMasterPro.Data
@using BuildMasterPro.Services
@inject EquipmentService EquipmentService
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="equipment/create">Create New</a>
</p>

<MudTable T="Equipment" Items="@Equipments" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" OnRowClick="GoToDetails">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Cost Per Hour</MudTh>
        <MudTh>Status</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.Description</MudTd>
        <MudTd>@context.CostPerHour</MudTd>
        <MudTd>@context.Status</MudTd>
        <MudTd>
            <MudButton StartIcon="@Icons.Material.Outlined.Edit" OnClick="@(()=>{NavManager.NavigateTo($"equipment/edit?equipmentid={context.EquipmentId}");})">Edit</MudButton>
            <MudButton StartIcon="@Icons.Material.Outlined.Delete" OnClick="@(()=>{NavManager.NavigateTo($"equipment/delete?equipmentid={context.EquipmentId}");})">Delete</MudButton>
        </MudTd>
    </RowTemplate>
</MudTable>

@* <QuickGrid Class="table" Items="context.Equipments">
    <PropertyColumn Property="equipment => equipment.Name" />
    <PropertyColumn Property="equipment => equipment.Description" />
    <PropertyColumn Property="equipment => equipment.CostPerHour" />
    <PropertyColumn Property="equipment => equipment.Status" />
    <PropertyColumn Property="equipment => equipment.CreatedAt" />
    <PropertyColumn Property="equipment => equipment.UpdatedAt" />

    <TemplateColumn Context="equipment">
        <a href="@($"equipment/edit?equipmentid={equipment.EquipmentId}")">Edit</a> |
        <a href="@($"equipment/details?equipmentid={equipment.EquipmentId}")">Details</a> |
        <a href="@($"equipment/delete?equipmentid={equipment.EquipmentId}")">Delete</a>
    </TemplateColumn>
</QuickGrid> *@

@code {
    private ApplicationDbContext context = default!;
    private List<Equipment> Equipments { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Equipments = await EquipmentService.GetAllAsync();
    }
    private void GoToDetails(TableRowClickEventArgs<Equipment> args)
    {
        NavManager.NavigateTo($"equipment/details?equipmentid={args.Item.EquipmentId}");
    }
}
